body {
    overflow-y: scroll;
  }

.main {
  display: grid;
  max-width: 900px;
  max-height: 2000px;
}

/* Style for the header */
.header {
  background-color: #cb9a9a;
  color: #fff;
  text-align: center;
  padding: 0px;
  max-width: 100%;
}

/* Style for the heading */
.header h1 {
  font-size: 24px;
  color: black;
}

/*Style for the text to the left */
.header p {
  text-align: left;
  margin: 0;
  color: black;
}
.ing-bild{
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    max-width: auto;
}

.ingred{
  background: yellow;
    border-color: black;
    max-width: 20%;

}
.ing h2{
    font-size: 20px;
}
.chokladboll-bild{
    margin-left: 20px;
    max-width: 80%;
}
.instruktioner{
  text-align: center;
  margin: 20px auto;
  width: 60%;
}
.instruktion{
  background-color: #FCD9D9;
  padding: 20px;
  margin-bottom: 30px;
}
