body {
    overflow-y: scroll;
  }

.main {
  display: grid;
  max-width: 900px;
  max-height: 4000px;
}

/* Style for the header */
.header {
  background-color: #cb9a9a;
  color: #fff;
  text-align: center;
  padding: 0px;
  max-width: 100%;
}

/* Style for the heading */
.header h1 {
  font-size: 24px;
  color: black;
}

/*Style for the text to the left */
.header p {
  text-align: left;
  margin: 0;
  color: black;
}
.ing-bild{
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    max-width: auto;
}

.ingred{
  background: yellow;
    border-color: black;
    max-width: 20%;

}
.ing h2{
    font-size: 20px;
}
.chokladboll-bild{
    margin-left: 20px;
    max-width: 80%;
}

.text-div {
  background-color: #FCD9D9; /* Background color set to #FCD9D9 */
  padding: 20px;
  margin-bottom: 30px; /* Increase the margin-bottom for more spacing */
  width: 48%; /* Adjust the width as needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.middle-divs {
  text-align: left;
  margin: 20px auto;
  width: 80%; /* Adjust the width as needed */
  height: 200px;
  display: flex; /* Make the container a flex container */
  justify-content: space-between; /* Space items evenly along the main axis */
  flex-wrap: wrap;
  gap: 10px;
}

.image-div {
  width: 48%; /* Adjust the width as needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.small-picture {
  max-width: 100%; /* Adjust the maximum width of the small picture */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
}
.middle-diver {
  text-align: center;
  margin: 20px auto;
  width: 80%; /* Adjust the width as needed */
  height: 200px;
  display: flex; /* Make the container a flex container */
  justify-content: space-between; /* Space items evenly along the main axis */
  flex-wrap: wrap;
  gap: 10px;
}