header
{
background-color: #CB9A9A;
color: black;
font-size:x-small
}
.Rubrik
{
background-color: #706767;
max-width: 150px;
max-height: 100px;
text-align: center;
align-self: center ;
}
img
{
 max-width: auto;
 max-height: 400px;
}
aside
{

}